@media (max-width: 1920px) and (min-width: 768px) {
    html {
      zoom: 75%;
    }
    @-ms-viewport {
      width: 1920px;
    }
  }
  *{
    padding: 0;
    margin: 0;
  }
a{
    text-decoration: none;
    color: white;
}
.AllBody .ALL_TSxZ:hover{
    text-decoration-color: #000;
    background-color: #fff;
    color: #000;
    font-weight: 600;
}
.AllBody .ALL_TSxZ{
    display: inline-block;
    width: 45px;
    height: 100%;
    padding: 5px;
    margin-top: 4px;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 110px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 2px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 99;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%; 
    left: 45%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
    z-index: 99
}
.tooltip .tooltiptext {
    width: 110;
    top: 100%;
    left: 50%; 
    margin-left: -55px;
}
.tooltip .tooltiptext {
    opacity: 0;
    transition: opacity 1s;
}
 
.tooltip:hover .tooltiptext {
    opacity: 1;
}
.AllBody .LALL_TSxZ:hover{
    text-decoration: underline;
    text-decoration-color: #000;
    background-color: #fff;
    color: #000;
    font-weight: 600;
}
.AllBody .LALL_TSxZ{
    display: inline-block;
    width: 55px;
    height: 100%;
    padding: 0px;
    margin-top: 5px;

}
.Ltooltip {
    position: relative;
    display: inline-block;
}
.Ltooltip .Ltooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 2px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 99;
}
.Ltooltip:hover .Ltooltiptext {
    visibility: visible;
}
.Ltooltip .Ltooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%; 
    left: 45%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
    z-index: 99
}
.Ltooltip .Ltooltiptext {
    width: 160;
    top: 100%;
    left: 50%; 
    margin-left: -80px;

}
.Ltooltip .Ltooltiptext {
    opacity: 0;
    transition: opacity 1s;
}
 
.Ltooltip:hover .Ltooltiptext {
    opacity: 1;
}
.AllBody .GUdin{
    position:fixed;    
    background-color: rgba(255,255,255,0.5);
}
.AllBody{
    max-width: 100%;
    height: 100%;
    position: absolute;
    overflow: visible;
    font-size: 100%;
    top: 0px;
    left: 0px;
    right: 0px; 
    /* background-image: linear-gradient(to right, rgb(78,82,107) 0%, rgb(52,53,81) 100%); */
    /* background-image: url(../img/LTB.png); */
    background-position: center center;
    /* background-repeat: no-repeat; */
    /* background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%); */
    background: url(../img/LTB.png) 50% 50% no-repeat,linear-gradient(to bottom, #347f7a 0%, #395b8b 100%) ;
    background-attachment: fixed;
}
.AllBody .title{
    position: absolute;
    overflow: visible;
    max-width: 100%;
    height: 60px;
    font-size: 100%;
    top: 0px;
    left: 0px;
    right: 0px; 
    display: inline-block;
}
.YHhezi{
    position: absolute;
    overflow: visible;
    top: 0px;
    display: inline-block;
}
.RitSt{
    width: 100%;
    max-height: 100%;
    /* 这个是加了下划线后面看需要是否去掉 */
    border-bottom: 1px solid aliceblue;
    
}
.RitSt .TUp{
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 15%;
}
.RitSt .PosT{
    width: 52px;
    height: 52px;
    margin-left: 4px;
    margin-top: 4px;
    background-image: url(../img/LT.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.AllBody .SY{
    width: 20%;
    height: 60px;
    margin-right: 5%;
}
.AllBody .SY_Long{
    width: 35%;
    height: 60px;
    margin-right: 5%;
}
.AllBody .WenB1{
    position: absolute;
    overflow: visible;
    top: 0px;
    display: inline-block;
    font-size: 25px;
    width: 50%;
    height: 60px;
    margin-left: 50%;
    background-color: black; 
}
.AllBody .WenB{
    margin-left: 30%;
    width: 60%;
    height: 60px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    z-index: 20;
}
.title .NEIbu:hover span{
    /* 248, 243,90 */
    background-image: linear-gradient( rgba(255,0,0,0), rgb(176, 171, 171));
    color: #ff8400cf;
    font-weight: 600;
    display: inline-block;
    height: 100%;
    width: 100%;
    padding-bottom: 10px;
    font-size: 100%;
    border-bottom: 4px solid #fff;
    transition: width 2s linear;
    opacity: 1;
    transition: opacity 2s;
}
.title .TooNow{
    height: 100%;
    width: 100%;
    padding-bottom: 10px;
    font-size: 100%;
    border-bottom: 4px solid rgba(0, 0, 0, 0);
}
.title .SY:hover>.Now{
    background-image: linear-gradient(to bottom right, rgba(0,0,0,0), rgba(0,0,0,0));
}
.WZjuZ {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    display: -moz-box;
}
.AllBody .ChoicE{
    color: #b49277;  
}
.AllBody .CHoiCE{
    display: inline;
    height: 60px;
    padding-bottom: 4px;
    border-bottom: 4px solid #fff;
}
.AllBody .NEIbu{
    font-size: 100%;
    width: 100%;
    height: 30px;
    margin-top: 15px;

}
.AllBody .NEIbu .WZ{
    display: inline-block;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: 'MicorSoft YaHe','黑体';
    margin-right: 15%;
}
.Now{
    height: 100%;
    width: 100%;
    padding-bottom: 10px;
    font-size: 100%;
    border-bottom: 4px solid #fff;
}
.linr_TS{
    height: 2px;
    width: 100%;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
.AllBody .NEIbuImg{
    margin-top: 5px;
    padding-left: 1px;
    font-size: 100%;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #fff;
    background-image: url(../img/未登录头象.png);
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
}
.ASplle{
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    /* 减号两遍一定要打空格，不然会失效 */
    height: calc(100% - 60px);
    margin-top: 60px;
    /* 现在的天蓝色用于定位写完后删除 */
    background-color: skyblue;
    /* float:left; */
}
.CHenShi{
    background-color: rgba(255, 255, 255, 0);
    /* margin-top: 50%; */
    width: 100%;
    /* 减号两遍一定要打空格，不然会失效 */
    height: 100%;
    display: block;
    /* 现在的天蓝色用于定位写完后删除 */
    background-color: #0c1022;
}


